:root {
    --header-color: #AFE1AF;
    --btn-color: #9F2B68;
}

body, body a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    background-color: var(--header-color);
}

.logo {
    cursor: pointer;
    font-size: 43px;
    padding: 10px;
}

.logo a {
    color: black;
}

.nav-bar {
    list-style: none;
    padding: 10px;
}

.nav-bar li {
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
    background-color: var(--btn-color);
    border-radius: 10px;
    font-size: 20px;
    margin: 15px;
}

.nav-bar li a {
    color: white;
}

.nav-bar li a:hover {
    color: black;
}

section {
    margin-top: 50px;
}

section a {
    text-decoration: none;
    font-size: 48px;
}

section nav {
    float: center;
    margin: 7px 0;
}

section nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 50px;
}

section nav ul li a {
    color: black;
    margin-right: 25px;
    font-size: 30px;
}

.plant-image {
    max-width: 50%;
    max-height: 50%;
}

.light, .water, .soil, .about {
    margin: 50px;
    text-align: center;
}

.placeholder-imgs {
    margin: 25px;
    height: 250px;
    width: 275px;
}

.article-titles {
    font-size: small;
}

.articles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:0;
}

footer {
    background-color: var(--header-color);
    padding: 25px;
}